<!DOCTYPE html>
{% extends "base.html" %}


{% block content %}

<p> Enterprise Value = {{ enterpriseValue }} </p>
<p> Market Capital = {{ marketCap }} </p>
<p> Profit Margin = {{ profitMargins }} </p>
<p> 52 week High = {{ fiftyTwoWeekHigh }} </p>
<p> Total Revenue = {{ totalRevenue }} </p>
<p> Average Volume 10 Days = {{ averageVolume10days }} </p>
<p> Float Shares = {{ floatShares }} </p>
<p> Insiders Percent = {{ heldPercentInsiders }} </p>
<p> Institution Percent = {{ heldPercentInstitutions }} </p>
<p> Percent of Float = {{ shortPercentOfFloat }} </p>
<p> Total cash per Share = {{ totalCashPerShare }} </p>
<p> Total cash = {{ totalCash }} </p>
<p> Total Debt = {{ totalDebt }} </p>
<p> Book Value = {{ bookValue }} </p>
<p> Operating Cash Flow = {{ operatingCashflow }} </p>
<p> Short Percent of Float = {{ shortPercentOfFloat }} </p>


{% endblock content %}
